@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway&display=swap');

.smallHeading{
    color: white;
    margin: 10px 0px;
    border-bottom: 1px solid cyan;
    font-size: medium;
    letter-spacing: 5px;

    /* text-align: left; */
}
.mainHeading{
    color: white;
    /* text-align: left; */
    font-size: xxx-large;
    font-family: 'Raleway', sans-serif;
}

.start_para_ab{
    color: white;
    text-align: left;
    margin: 10px 0px;
    font-family: 'Quicksand', sans-serif;

}

.bg_2{
    width: 60%;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 106px;
}