* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.bg {
  margin-top: 100px;
  height: 90vh;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background: linear-gradient(rgba(73, 38, 10, 0.5), rgba(246, 237, 221, 0.5)), url("https://www.solidbackgrounds.com/images/2560x1440/2560x1440-dark-pastel-purple-solid-color-background.jpg");
}

/* .App {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background: linear-gradient(rgba(73, 38, 10, 0.5), rgba(246, 237, 221, 0.5)), url("https://www.solidbackgrounds.com/images/2560x1440/2560x1440-dark-pastel-purple-solid-color-background.jpg");
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.title {
  padding-top: 30px;
  font-size: 50px;
  color: white;
}

.ele {
  /* margin-top: 40px; */
  display: flex;
  height: 200px;
  width: 200px;
  margin-left: 17%;

}

.ele img {
  margin: 20px;
  border-radius: 100%;
}

.arrow {
  position: relative;
  float: right;
  display: inline;
  width: 50px;
  height: 50px;
  float: right;
  /* bottom: 0; */
  margin-top: 69px;
  margin-right: 10px;
}
.arrow:hover{
  filter: drop-shadow(4px 6px 8px rgba(255,255,255,0.9));
}